.timeline-container2 {
  width: 80%;
  margin-left:10px;
  overflow-x: hidden;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #fff;
}

.score-board {
  margin: 20px 0;
  font-size: larger;
  font-weight: 600;
}

.score {
  font-size: 2em;
  color: #00ff00; 
}

.timeline {
  list-style-type: none;
  padding: 0;
}

.timeline-item {
  padding: 20px;
  margin: 10px 0;
  background: #ffffff1a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.timeline-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.timeline-item.completed {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.4);
  cursor: not-allowed;
  transform: none;
}

.completion-message {
  margin-top: 20px;
}

.control-button {
  padding: 20px;
  margin: 10px 0;
  background: #ffffff1a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  color: #fff;
}

.control-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.control-button:focus {
  outline: none;
}
